.contenedor-eventos {

    position: relative;
    top: -70px;
}

.titulo-eventos {
    font-size: 3rem;
    margin: 0%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 140px;
    color: #FFDE00;
    font-family: 'Monotype Corsiva', cursive;
}

#seccion-indice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    background: #c07504;
    background: linear-gradient(rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.507)), url('../files/screen.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    width: 100%;
}

.indice-eventos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background: #0000007e;
    width: 80%;
    font-size: 2rem;
    border-radius: 15px;
    padding: 3vw;
}

.item-indice-eventos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    background-color: #1d1c1cb2;
    color: #FFDE00;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 160px;
    height: 100px;
    transition: transform 0.3s ease;
}

.item-indice-eventos:hover {
    transform: scale(1.05);
}

.titulo-indice {
    text-align: center;
    margin-bottom: 20px;
    color: #FFDE00;
    background-image: linear-gradient(to top right, #c07504, hsl(54, 91%, 66%));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 1.5rem;
    margin: 0;
    text-decoration: none;

}

.texto-indice {
    text-align: center;
    margin-top: 10px;
    color: #ffffff;
    font-size: 1.125rem;
    text-decoration: none;


}

.enlace-indice:hover {
    text-decoration: none;
}

.contenedor-eventos-titulo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;

}



.subtitulo-eventos {

    margin: 0;
    position: relative;
    white-space: nowrap;
    max-width: min-content;
    padding: 5px 20px;
    border-radius: 15px 15px 15px 0;
    left: 20px;
    top: 20px;
    font-size: 3rem;
    color: #FFDE00;
    font-family: 'Monotype Corsiva', cursive;

}

.eventos-hr {
    width: 98%;
    border-color: #FFDE00;
    border-style: solid;

}

.contenedor-servicios-eventos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background: #bb4e4e00;
    width: 100%;
    gap: 20px
}

.tarjeta-servicio {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    /*flex-wrap: wrap;*/
    background-color: #1d1c1c5e;
    color: #FFDE00;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 95%;
    height: auto;
    transition: transform 0.3s ease;
    margin: 0 20px;
}

.detalle-servicio {
    display: flex;
    flex-direction: column;

    padding: 20px;
    background-color: #1d1c1c00;
    color: #FFDE00;
    border-radius: 8px;
    width: 47%;
    min-height: 100%;
    transition: transform 0.3s ease;
}

.servicio-titulo {
    text-align: center;
    margin-bottom: 20px;
    color: #FFDE00;
    background-image: linear-gradient(to top right, #c07504, hsl(54, 91%, 66%));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 2rem;
    font-family: 'Ahkio Cursiva', 'Ahkio', sans-serif;
    font-style: italic;
    font-weight: bold;
}

.servicio-descripcion {
    text-align: center;
    margin-top: 10px;
    color: #ffffff;
    font-size: 1.8rem;
}

.imagen-servicio {
    max-width: 47%;
    max-height: 300px;
    height: auto;
    margin: 20px;
    position: relative;
    transition: transform 0.3s ease;

}

.imagen-servicio:hover {
    transform: scale(1.05);

}


.evento-vermas{
    display: none;
    position: absolute;
    pointer-events: none;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
    padding-bottom: 10px;
    padding-top: 0;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    color: #FFDE00;
    background-image: linear-gradient(to top right, #c07504, hsl(54, 91%, 66%));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 2rem;
    font-family: 'Ahkio Cursiva', 'Ahkio', sans-serif;
    font-style: italic;
    font-weight: bold;
    

}

.imagen-servicio:hover .evento-vermas{
    display: flex!important;
}
.imagen-svc{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    position: relative;
    transition: transform 0.5s ease;
    border: #2222113d solid 2px;
    box-shadow: 0px 0px 15px #69623d60;
    mask-image: linear-gradient(to bottom, rgba(236, 146, 12, 0.685), rgba(219, 136, 11, 0.692));
    /* Aplica un degradado lineal al contenido de la imagen */

}
.imagen-svc:hover{
    mask-image: linear-gradient(to bottom, rgb(236, 146, 12), rgba(20, 13, 1, 0.192));
}

@media screen and (max-width: 767px) {
    .tarjeta-servicio {
        flex-wrap: wrap
    }

    .tarjeta-impar {
        flex-direction: column-reverse !important;
        align-items: center;

    }

    .detalle-servicio {
        display: flex;
        flex-direction: column;

        padding: 20px;
        background-color: #1d1c1c00;
        color: #FFDE00;
        border-radius: 8px;
        width: 95%;
        min-height: 100%;
        transition: transform 0.3s ease;
    }

    .imagen-servicio {
        max-width: 95%;
        max-height: 300px;
        max-width: 300px;
        height: auto;
        margin: 20px;
        margin: 20px;
    }

    .modal {

        padding-top: 2.3vh !important;


    }

    .modal-img {
        max-height: calc(100vh - 250px);
        /* Ajusta según el tamaño del encabezado y el botón de cierre */
        width: auto;
        max-width: 100%;
        padding-top: 0px;
    }
}




/* Estilos del modal */

/* Estilos del modal */
.modal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 3;
    padding-top: 0px;

}

.modal-overlay {
    position: relative;
    width: auto;
}


.modal-content {
    position: relative;
    margin: auto;
    display: block;
    width: fit-content;
    max-width: 80%;
    max-height: 80%;
    border-radius: 8px;
    border: #42422248 solid 2px;
    /* box-shadow: 0px 0px 10px #948a5450;*/
    background-color: #222121fd;

    box-sizing: border-box;
    margin-top: 8vw;
    overflow: hidden;
    /* Para evitar que la imagen sobresalga */
}


.modal-img {
    max-height: calc(100vh - 250px);
    /* Ajusta según el tamaño del encabezado y el botón de cierre */
    width: auto;
    min-width: 100%;
    padding-top: 50px;
}


.modal-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 36px;
    cursor: pointer;
    color: #ffffff;
    /* Usar !important para asegurar la prioridad del color */
    z-index: 9999;
    opacity: 1;
    transition: 0.3s;
}


.close:hover,
.close:focus {
    color: #ccc;
    text-decoration: none;
    cursor: pointer;
}

.evento-description {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(214, 13, 13, 0);
    color: #fff;
    padding: 0px;
    box-sizing: border-box;
    padding-bottom: 10px;
    padding-top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;

}

.evento-description h2 {
    display: flex;
    padding: 0;
    margin-top: 15px;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(to top right, #c07504, hsl(54, 91%, 66%));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'Ahkio Cursiva', 'Ahkio', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;

}

.evento-description p {
    display: flex;
    padding: 0;
    margin-top: 5px;
    justify-content: center;
    text-align: center;
    font-style: italic;
    font-size: 1.125rem;
    max-width: 100%;
    padding: 0 5%;

}
.contenedor-botones-indicadores{
    position: relative;
    bottom: 100px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.carousel-control{
    max-height: 180px;
    top:18%;
}
.carousel-control.right{
    right: 0;
    border-radius: 15px 0 0 15px ;
}
.carousel-control.left{
    left: 0;
    border-radius: 0 15px 15px 0;
}