.contenedor-index{
    display: flex;
    position: relative;
    flex-direction: column;
    padding-top: 70px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .contenedor-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Monotype Corsiva', cursive;
    font-size: 5rem;
    width: 100%;
    height: 450px;
  }

  #myCarousel {
    display: flex;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    top:-70px;

}

.carousel.slide {
    margin-top: 0px;
    margin-bottom: 0px;
}

.img-carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 450px;
    min-height: 450px;
    min-width: 375px;
    object-fit: cover;
      mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.959)); /* Aplica un degradado lineal al contenido de la imagen */

}
#carrusel-izquierda{
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(0, 0, 0)); /* Aplica un degradado lineal desde la derecha */
}
#carrusel-derecha{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0)); /* Aplica un degradado lineal desde la derecha */
}

.carousel-indicators {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 1px;
    position: absolute;
    bottom: 2px; 
}
.contenedor-botones-indicadores {
    position: absolute;
    bottom: 15px; /* Ajusta la posición vertical según sea necesario */
    left: 50%;
    transform: translateX(-50%);
    z-index: 15;
    bottom: 5px;
  }
.d-grid{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 1px;
    position: relative;
    bottom: 15px;
    max-width: 98%!important;
}
/* Estilos CSS personalizados para los botones */
.btn.btn-primary {
    background-color: #a5d12a;
    color: #000000;
    border-color: #688519;
    box-shadow: 5px 5px 20px #0e3000;
    margin: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-style: bold;
    text-align: center;
}


.btn.btn-primary:hover {
    background-color: #b5e62f;
    color: #000000;
    border-color: #495e11;
    transform: scale(1.1) rotate(0deg);
    transition: all 0.5s;
}

/* Cambiar el fondo y el color del texto del botón secundario */
.btn.btn-secondary {
    background-color: #33cc33;
    color: #ffffff;
}
