/* ----   barra de navegación ----- */
.navbar{
    display: flex;
    flex-direction: row;
    min-height: 70px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    border: none;
    gap: 35px;
    z-index: 30;
}

.navbar-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    border:none;
}


.navbar.navbar-inverse {
    background-color: #000000c0;
    border-radius: 0%;
    margin: 0%;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.788);
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #00000000;
}

.navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;
    padding: 0;
    margin: 0;
    transition: all 0.3s ease;
    vertical-align: middle!important;
}

.navbar-brand:hover {
    font-size: 1.05em;
    transform: scale(1.05); 
}

#navbar-icon {
    display: inline-block;
    vertical-align: middle;
    padding-left: 0px;
    padding-top: 0px;
    width:52px

    
}

#navbar-title {
    font-size: 2rem;
    padding-right: 1vw;
    vertical-align: middle;
    color: #ffffff;
    background-image: linear-gradient(to top right, #c07504, hsl(54, 91%, 66%));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    padding: 15px 0;
    
}
.pull-left {
    float: none !important;
}

#logo-container {
    vertical-align: bottom;

}

.nav-link {
    font-size: 1.4vw;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    white-space: nowrap;
}

.nav-link:hover {
    color: #ffffff;
    background-image: linear-gradient(to top right, #c07504, hsl(54, 91%, 66%))!important;
    -webkit-background-clip: text!important;
    background-clip: text!important;
    color: transparent!important;
}

.nav-cell{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

@media screen and (max-width: 768px) {
    .navbar{
        display: flex;
        flex-direction: row;
        min-height: 50px;
        min-width: 300px;
        align-items: center;
        gap:0;
    }
    .navbar.navbar-inverse .navbar-brand {
        /*display: block;*/
        padding: 0 5px;
        gap:5px;
    }
    .nav{
        width: 100%;
    }
    .nav-cell{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .nav-item{
       
        width: 100%;
    }
    .nav-link {
        font-size: 1em;
        width: 100%;
        text-align: center;
        white-space: nowrap;
        justify-content: center!important;

    }
    #navbar-icon{
        padding-left: 10px;
        width: 68px;
    }
    #navbar-title {
        font-size: 2rem;
    }
    .collapse.navbar-collapse {

        width: 100%;
    }
   
    .text-center{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-between;
        text-align: center;

    }

}
