/* ------ Estilos generales ------- */

html {
    background-color: #000000;
    max-height: min-content;
    height: auto;
    scroll-behavior: smooth;

}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    background-color: #000000;
    overflow-x: hidden;
    height: auto;
    justify-content: center;
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.8rem;
    font-family: 'Rubik Dirt', cursive;
    color: #020202;
}

.parallax {
    transform: translateY(0);
    transition: transform 0.3s;
}







/* Proyectos */

.our-menu {

    /* background-image: url('../files/FondoCarta.jpeg');
    */

    background-color: #ffffff17;
    background-size: cover;
    border-radius: 0px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
    max-height: min-content;
    border-radius: 0px;


}

.our-menu img {
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    transition: all 0.2s ease;
    object-fit: cover;
}

.proyectos-contenedor {
    padding-top: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    /* background-color: #00000088;*/
    display: flex;
    flex-direction: wrap;
    align-items: center;
    justify-content: center;

}

.overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}

.plate {
    position: relative;
    max-width: min-content;
    max-width: 250px;
}

.plateTest {
    position: relative;
    max-width: min-content;
    max-width: 250px;
}

.plate:hover img {
    opacity: 0.2;

}

.plate:hover .overlay {
    opacity: 1;
}

.overlay .iconos-contenedor {
    display: flex;
}

.overlay i {
    color: black;
    font-size: 60px;
    margin: 10px;
}

.col-12 .col-md-6 .col-lg-4 {
    max-width: min-content;
}


/* Adaptable (Responsivo) */

@media screen and (max-width: 400px) {
    .overlay p {
        font-size: 18px;
    }

    .overlay i {
        font-size: 40px;
    }
}

@media screen and (max-width: 767px) {
    .navbar-brand {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 800px) {
    .testimonio-imagen {
        height: 120px;
        width: 120px;
    }

    .testimonio-texto {
        font-size: 18px;
    }
}


/* Estilos de la tarjeta de plato */




/* Estilos de la tarjeta de plato */
.platep {
    position: relative;
    width: 15vw;
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
    height: 22.5vw;
    max-width: 250px;
    max-height: 350px;
    border: 2px solid #1ba309;
    transition: transform 0.3s ease-in-out;
    /* Agrega una transición a la propiedad transform */
    z-index: 1;
    box-shadow: 5px 5px 25px #0e3000;
}

@media screen and (max-width: 768px) {
    .platep {
        position: relative;
        width: 15vh;
        cursor: pointer;
        border-radius: 8px;
        overflow: hidden;
        height: 22.5vh;
        max-width: 250px;
        max-height: 350px;
        border: 2px solid #1ba309;
        transition: transform 0.3s ease-in-out;
        /* Agrega una transición a la propiedad transform */
        z-index: 1;
        box-shadow: 5px 5px 25px #0e3000;
    }
}

.platep-img {
    position: relative;
    width: 45%;
    border-radius: 0px;
    transition: transform 0.3s ease;
}




/* Estilos personalizados */
.platep-details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    transition: 0.3s;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* Alinea el contenido en la parte inferior */
    padding: 20px;
    /* Añade espacio interno según sea necesario */
    padding-bottom: 10px;
}

.platep-details h3 {

    color: #ffffff;
    margin: 10px;
    padding: 0;
    text-align: center;
    font-family: 'Rubik Dirt', cursive;
    font-size: 1.5vw;
}

.platep-details p {
    font-size: 1vw;
    margin-bottom: 0;
}

.platep:hover {
    transform: scale(1.2);
    transition: 0.3s;
    border: 2px solid #1ba309;
    box-shadow: 5px 5px 25px #0e3000;
    z-index: 2;
}

.platep:hover .platep-details {
    background-color: rgba(0, 0, 0, 0.459);
    color: #ffffff;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    transform: scale(1.1);
}


.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 4px;
    gap: 1.7vw;
    position: relative;
    /*  background-color: aqua;*/
    width: 100%;
}

.imagenes-temp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

@keyframes zoomIn {
    from {
        transform: scale(0.5);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.zoomIn {
    animation: zoomIn 0.5s ease-in-out;
}






.dropdown:hover .dropdown-menu {
    display: block;
}

